<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @* We need this as we are implementing "Scripts" to using javascript in the login page  *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
