@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}




@* •	
    It binds the form element 
    (e.g.,<input>, <label>,<textarea>) to a specific property in your model.
	
    For example, 
    asp-for="Input.Password" binds the <input> field to the Password property of the Input model. *@


@* <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed"> *@
   @*  <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center"> *@
        
       
       
       <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-12 col-lg-12 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                            </a>
                            <h2 class="text-center">Create a new account.</h2>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="mb-3">
                                    <label asp-for="Input.Email" class="form-label">Email Address</label>
                                    <input type="email" class="form-control" asp-for="Input.Email" aria-describedby="emailHelp">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Input.FirstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" asp-for="Input.FirstName" aria-describedby="textHelp">
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Input.LastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" asp-for="Input.LastName" aria-describedby="textHelp">
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Input.DateOfBirth" class="form-label">Date Of Birth</label>
                                    <input type="text" class="form-control" asp-for="Input.DateOfBirth" aria-describedby="textHelp">
                                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <input type="password" class="form-control" asp-for="Input.Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" asp-for="Input.ConfirmPassword">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                                @* Purpose of value='@role' is to bind the selected radio button value to the Input.RoleName property in your model.

                                When the user selects a radio button and submits the form,
                                the value of the selected radio button (e.g., "Admin") is sent to the server.
            
                                This value is bound to the Input.RoleName property in your model 
                                because of the asp-for="Input.RoleName" attribute. *@

                                <div class="mb-4">
                                @foreach (var role in Model.RoleNames)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.RoleName" value="@role">
                                        <label class="form-check-label" asp-for="Input.RoleName">
                                            @role
                                        </label>
                                    </div>


                                }
                                </div>

                               

                                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4">Sign Up</button>

                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                    <a class="text-primary fw-bold ms-2" asp-page="./Login">Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        
        
        
        @*  </div> *@
@* </div> *@






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function(){
            $("#Input_DateOfBirth").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true
		    });
		});

    </script>
}
