@model LeaveRequestCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaveRequest</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
               @*  
                asp-for="LeaveTypeId" binds the selected value to the LeaveTypeId property in your model when the form is submitted.
                asp-items="Model.LeaveTypes" populates the dropdown options using the LeaveTypes SelectList from your model,
                where each option's value will be the leave type's Id and the displayed text will be the leave type's Name. 
                the value (such as the selected LeaveTypeId from your dropdown) must go to the server in order for model binding to happen.
                *@

                <select asp-for="LeaveTypeId" class ="form-select" asp-items="Model.LeaveTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="RequestComments" class="control-label"></label>
                <textarea asp-for="RequestComments" class="form-control"></textarea>
                <span asp-validation-for="RequestComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a  asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* 
  $("#StartDate") is a jQuery selector that targets the HTML element with the ID StartDate.
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $( function() {
          $( "#StartDate" ).datepicker({
              dateFormat:"yy-mm-dd",
              changeMonth:true,
              changeYear:true
          });
          $( "#EndDate" ).datepicker({
              dateFormat:"yy-mm-dd",
              changeMonth:true,
              changeYear:true
          });
        });
    </script>

}
